<head>
  <base href="/">
  <title>Quick Survey</title>
</head>

<body ng-app="quick-survey">
  <div class="page-wrap">
    <div class="nav" ng-controller="NavBarCtrl">
      <div class="admin" ng-if="is_admin">
        <a href="/">survey</a>
        <a href="/admin">admin</a>
      </div>
      <div class="registration"
        ng-if="state.current.name !== 'setup'">
        <a class="button"
          ng-href="/login"
          ng-hide="$root.currentUser">Log in</a>
        <a class="button"
          ng-href="/register"
          ng-hide="$root.currentUser">Register</a>
        <div class="username"
          ng-show="$root.currentUser">
          Hello <span ng-bind="$root.currentUser | displayName"></span>
        </div>
        <a class="button"
          ng-href="/logout"
          ng-show="$root.currentUser">Log out</a>
      </div>
    </div>
    <div ui-view
      class="container small-row"
      ng-class="{ admin: $state.includes('admin') }">
    </div>
  </div>
  <div ng-show="loading">
    <span></span>
    <span></span>
    <span></span>
  </div>
  <footer class="site-footer">
    <div class="wide-row footer-wrapper">
      <img src="/images/squirrel-small.png" alt="Quick Survey Squirrel Logo"/>
      <p>Powered by Quick-Survey, a self-hosted, easy-to-install survey tool that you control and own. Get started on <a href="https://github.com/simonv3/quick-survey"><i class="icon-github"></i> GitHub</a>.
      </p>
    </div>
  </footer>
</body>
