<div class="frontend">
  <h1>Register</h1>
  <form class="registration-form"
    name="registerForm">
    <!-- <div>
      <h2>Register with:</h2>
      <button>Twitter</button>
      <button>Facebook</button>
    </div> -->
    <div ng-show="rc.error" class="message warning">
      <small>{{ rc.error.reason }}</small>
    </div>

    <input type="email"
      ng-model="rc.credentials.email"
      placeholder="email"
      aria-label="email"
      required/>
    <input type="password"
      ng-model="rc.credentials.password"
      placeholder="password"
      aria-label="password"
      required/>
    <button ng-disabled="!registerForm.$valid"
      ng-click="rc.register()">Register</button>
  </form>
  <div ng-show="rc.success" class="message success">
    <small>Great, check your email for a verification e-mail!</small>
  </div>
  <div>
    <a href="/reset-password">Forgot password?</a>
    <a href="/login">Log in</a>
  </div>
</div>
