<div class="frontend">
  <h1>Register</h1>
  <form class="login-form" name="resetPasswordForm">
    <div>
      <h2>Register with:</h2>
      <button>Twitter</button>
      <button>Facebook</button>
    </div>
    <div ng-show="rc.error" class="md-warn">
      <small>{{ rc.error }}</small>
    </div>
    <input type="text"
      ng-model="rpc.credentials.email"
      placeholder="email"
      aria-label="email"
      required/>
    <button ng-disabled="!resetPasswordForm.$valid"
      ng-click="rpc.register()">Submit</button>
  </form>
  <div>
    <a href="/resetpw">Forgot password?</a>
    <a href="/register">Create an account</a>
  </div>
</div>
