<head>
  <base href="/">
  <title>Quick Survey</title>
</head>

<body ng-app="quick-survey">
  <div class="page-wrap">
  <div class="nav" ng-controller="NavBarCtrl">
    <div class="admin" ng-if="is_admin">
      <a href="/">survey</a>
      <a href="/admin">admin</a>
    </div>
    <meteor-include src="loginButtons"></meteor-include>
  </div>
  <div ui-view
    class="container small-row"
    ng-class="{ admin: $state.includes('admin') }"
    ng-if="!loggingIn"></div>
  </div>
  <footer class="site-footer">
    <div class="wide-row footer-wrapper">
      <img src="/images/squirrel-small.png" alt="Quick Survey Squirrel Logo"/>
      <p>Powered by Quick-Survey, a self-hosted, easy-to-install survey tool that you control and own. Get started on <a href="https://github.com/simonv3/quick-survey"><i class="icon-github"></i> GitHub</a>.
      </p>
    </div>
  </footer>
</body>
