@import "./variables.import.less";

.container.admin {
  max-width: 960px;
}

.survey-details {

  th.description {
    width: 45%;
  }
  th.name {
    width: 20%;
  }

  td {
    vertical-align: top;
  }

  textarea {
    height: 10em;
  }
}

.questions {
  ul {
    list-style: none;
  }

  .icon-edit,
  .icon-trash {
    padding: .5rem;
    margin-left: .25rem;
  }
}

.add-question-with-options {
  padding: 1.5rem 8.5rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  border-top: 1px solid rgba(0,0,0,0.1);
  box-sizing: border-box;
  margin: 1rem auto;

  ul {
    list-style: none;
  }

  .form-align-group {
    margin-left: 2rem;
  }

  .form-align-group label {
    width: 2.5rem;
    padding-top: .15rem;
  }

  .option-control {
    margin-left: 2rem;
  }
}
