<h1>Admin</h1>
<h2>Survey Questions</h2>
  <!-- ToDo: extract this survey editing into a directive -->
  <ul>
    <li ng-repeat="question in activeSurvey.questions">
      {{ question.question }} <span ng-click="deleteQuestion($index)" class="icon-trash"></span>
    </li>
  </ul>
  <span add-question survey="activeSurvey"></span>
<h2>Results</h2>
<table class="survey-results">
  <thead>
    <tr>
      <th>Survey</th>
      <th ng-repeat="question in responses[0].survey.questions" style="min-width: {{ 100 / responses[0].survey.questions.length }}px">
        Question {{ $index + 1 }}
      </th>
    </tr>
  </thead>
  <tbody>
  <tr ng-repeat="response in responses">
    <td>{{ $index + 1 }}</td>
    <td ng-repeat="question in response.questions">
      {{question.answer}}
    </td>
  </tr>
  </tbody>
</table>
