<div class="setup">
  <h2>Welcome!</h2>
  <p>
    Thanks for trying out quick-survey. Since you're the first person to access the site, you'll need to set up an admin account.
  </p>
  <span class="error">
    {{ sc.error }}
  </span>
  <label>First, what do you want your username to be?</label>
  <input type="text" ng-model="sc.newAdmin.username"/>
  <label>Then we'll need your email</label>
  <input type="email" ng-model="sc.newAdmin.email"/>
  <label>Finally, what should your password be?</label>
  <input type="password" ng-model="sc.newAdmin.password"/>
  <button ng-click="sc.createAdmin(newAdmin)"> Let's get started</button>
</div>
