<form ng-if="survey" class="survey-details" name="surveyForm">
  <h2>Survey Details</h2>
  <table>
    <thead>
      <tr>
        <th class="name">Name</th>
        <th class="description">Description</th>
        <th>Active</th>
        <th>Require Sign In?</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr edit-survey-details
        survey="survey"
        form="surveyForm">
      </tr>
    </tbody>
  </table>
</form>
<div class="questions">
<h2>Survey Questions</h2>
  <div ng-if="survey.questions.length === 0 && !addingQuestion" class="empty-state">
    Add some questions
  </div>
  <ul ng-if="survey">
    <li ng-repeat="question in survey.questions"
      question-details
      question="question"
      index="$index"
      question-types="questionTypes"
      survey="survey">
    </li>
  </ul>
  <span add-question
    survey="survey"
    question-types="questionTypes"
    class="add-question"></span>
</div>
