<form ng-if="survey" class="survey-details" name="surveyForm">
  <h2>Survey Details</h2>

  <div>
    <div edit-survey-details
      survey="survey"
      form="surveyForm">
    </div>
  </div>
</form>
<div class="questions" ui-tree>
<h2>Survey Questions</h2>
  <div ng-if="survey.questions.length === 0 && !addingQuestion" class="empty-state">
    Add some questions
  </div>
  <ul ui-tree-nodes ng-model="survey.questions" ng-if="survey">
    <li ng-repeat="question in survey.questions"
      ui-tree-node
      question-details
      question="question"
      index="$index"
      question-types="questionTypes"
      questions="survey.questions"
      save="save">
    </li>
  </ul>
  <div add-question
    survey="survey"
    question-types="questionTypes"
    class="add-question"></div>
  <button type="button" ng-click="save()">
    Save Questions
  </button>
</div>
