
<div class="question-overview">
  {{ question.question }}

  <div class="manage-questions">
    <a ng-hide="editingQuestion"
       ng-click="editQuestion(question)"
       title="Edit Question"
       class="icon-edit" ></a>
    <a ng-show="editingQuestion"
       ng-click="editQuestion(question)"
       title="Stop Editing"
       class="icon-cross"></a>
    <a ng-click="deleteQuestion(index)" title="Delete Question" class="icon-trash"></a>
  </div>
</div>

<div ng-if="editingQuestion">
  <form>
    <div class="form-align-group">
      <label for="editing-question-{{ $index }}-question">Question:</label>
      <input id="editing-question-{{ $index }}-question" type="text" ng-model="question.question"/>
    </div>

    <div class="form-align-group">
      <label for="editing-question-{{ $index }}-help-text">Help Text:</label>
      <input id="editing-question-{{ $index }}-help-text" type="text" ng-model="question.helpText"/>
    </div>
    <div class="form-align-group">
      <label for="editing-question-{{ $index }}-type">Type: </label>
      <select ng-options="option.type as option.type for option in questionTypes"
        ng-model="question.type"
        required
        id="editing-question-{{ $index }}-type">
      </select>
    </div>
    <div ng-if="question.type === 'radio'"
      class="add-checkbox-question-options"
      add-question-with-options
      question="question"
      existing-options="question.options"
    ></div>
    <div ng-if="question.type === 'checkbox'"
      class="add-checkbox-question-options"
      add-question-with-options
      question="question"
      existing-options="question.options"
    ></div>
    <div class="form-align-group">
      <label for="editing-question-{{ $index }}-required">Required? </label>
      <input id="editing-question-{{ $index }}-required" type="checkbox" ng-model="question.required"/>
    </div>
    <div class="form-align-group">
      <save-button
        click-event="save"
        text="'Save Changes'"
        saved-indicator="saved">
      </save-button>
      <button ng-click="cancel(question)">Cancel</button>
    </div>
  </form>
</div>
