<h1>Admin</h1>
  <div manage-survey
    survey="activeSurvey">
  </div>
<h2>Results </h2>
<table class="survey-results">
  <thead>
    <tr>
      <th>Survey</th>
      <th ng-repeat="question in responses[0].survey.questions" style="min-width: {{ 100 / responses[0].survey.questions.length }}px">
        Question {{ $index + 1 }}
      </th>
    </tr>
  </thead>
  <tbody>
  <tr ng-repeat="response in responses">
    <td>{{ $index + 1 }}</td>
    <td ng-repeat="question in response.questions">
      {{ question.answer }}
    </td>
  </tr>
  </tbody>
</table>
<small ng-if="response.length > 0"><a ng-click="exportAllResponses()" title="export all responses"><i class="icon-export"></i> Download CSV</a>.</small>
<small ng-hide="on_sandstorm">
  <a ng-click="sendTestEmail()" title="Send test email">Send test email</a>.
</small>
<small>
  Reset:
  <a ng-click="resetUsers()" title="Reset Users">Users</a>,
  <a ng-click="clearResults()" title="Clear Results">Responses</a>
</small>
