<ul>
  <li ng-repeat="option in question.options | orderBy:'type' track by $index">
    <div class="form-align-group" ng-if="option.type === 'normal'">
      <label for="{{ }}"><input type="radio" disabled/></label>
      <input id="{{ }}"
        type="text"
        ng-model="option.value"
        placeholder="Write something">
    </div>
    <div class="form-align-group" ng-if="option.type === 'other'">
      <label for="{{ }}-other">Other: </label>
      <input id="{{ }}-other" type="text" disabled>
    </div>
  </li>
</ul>
<a ng-click="addOption()"><i class="icon-plus"></i> Add option</a>
<a ng-click="addOther()"><i class="icon-plus"></i> Add "other"</a>
