<td>
  <label for="survey-name" class="hidden"></label>
  <textarea id="survey-name" ng-model="survey.name"></textarea>
</td>
<td>
  <label for="survey-description" class="hidden"></label>
  <textarea id="survey-description" ng-model="survey.description"></textarea>
</td>
<td>
  <label for="survey-is-active" class="hidden"></label>
  <input id="survey-is-active" type="checkbox" ng-model="survey.active"/>
</td>
<td>
  <label for="survey-requires-sign-in" class="hidden"></label>
  <input id="survey-requires-sign-in" type="checkbox" ng-model="survey.require_sign_in"/>
</td>
<td>
  <span ng-if="!form.$pristine">Save your changes!</span>
  <button ng-click="save(survey)">Save</button>
</td>
