<form ng-if="survey" class="survey-details">
  <h2>Survey Details</h2>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th class="description">Description</th>
        <th>Active</th>
        <th>Require Sign In</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <input type="text" ng-model="survey.name"/>
        </td>
        <td>
          <textarea ng-model="survey.description"></textarea>
        </td>
        <td>
          <input type="checkbox" ng-model="survey.active"/>
        </td>
        <td>
          <input type="checkbox" ng-model="survey.require_sign_in"/>
        </td>
      </tr>
    </tbody>
  </table>
</form>
<h2>Survey Questions</h2>
  <div ng-if="survey.questions.length === 0 && !addingQuestion" class="empty-state">
    Add some questions
  </div>
  <ul ng-if="survey">
    <li ng-repeat="question in survey.questions">
      {{ question.question }} <span ng-click="deleteQuestion($index)" class="icon-trash"></span>
    </li>
  </ul>
  <span add-question
    survey="survey"
    adding-question="toggleAddingQuestion"
    class="add-question"></span>
